
#footer {
    height: 200px;
    width: 100%;
    background-color: #f2f2f2;
    /* border: 1px solid red; */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
  
  #search-btn {
    /* margin-top: ; */
    padding-top: 20px;
    width: 40%;
    display: flex;
    margin: auto;
    justify-content: space-between;
  }
  
  #search-btn > input {
    width: 85%;
    height: 30px;
    border: 0.1px solid #00ffff;
    background-color: #fff;
  }
  
  #search-btn > button {
    width: 12%;
    height: 30px;
  }
  
  ::placeholder {
    font-size: 13px;
    padding: 5px;
  }
  
  #foot {
    margin: auto;
    margin-top: 10px;
    display: flex;
    width: 80%;
    justify-content: space-around;
  }
  
  #foot > ul > a {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: gray;
  }
  
  .thikline {
    border-left: 1px solid lightgray;
    height: 20px;
    /* margin-left: -40px; */
  }
  
  #foot2 {
    width: 7%;
    margin: auto;
    margin-top: 5px;
  }
  
  #foot2 > ul > a {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: gray;
  }
  
  #copy-right {
    width: 80%;
    margin: auto;
    margin-top: 10px;
  }
  
  #copy-right > p {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 101;
    margin-bottom: 3px;
  }